
.custom-input {
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 8px; /* Base padding */
    margin-bottom: 10px;
    width: 100%;
  
    @media (max-width: 768px) { /* Adjust for smaller screens (e.g., tablets) */
      padding: 5px; /* Reduce padding for smaller screens */
      font-size: 14px; /* Adjust font size if needed */
    }
  }